{% extends 'food/main_template.html' %} {% load forms_builder_tags %} {% load
static %} {% block content %}
<br />

<div class="row">
  <div class="col-md-5 offset-3">
    <h3>Fill out the form</h3>
    <hr />
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{message}}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    <div class="card card-body">
      <form method="POST" action="" enctype="multipart/form-data">
        {% render_built_form form %} {% csrf_token %}
      </form>
    </div>
  </div>
</div>
{% endblock content %}
