{% extends 'food/main_template.html' %} {% load static %} {% block content %}
<br />

<div class="row">
  <div class="col-md-6 offset-3">
    <div class="card card-body">

    {% if request.user.is_admin %}  
    <h4>List of users</h4>

      {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          {{message}}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
      <table class="table table-sm">
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Form Assigned</th>
          <th>Details</th>
        </tr>
        {% for client in clients %}
          <tr>
           <td>{{client.username}}</td>
						<td>{{client.email}}</td>
            <td><span class="badge badge-dark">{{client.forms.count}}</span></td>
						<td>
              <a class="btn btn-sm btn-secondary" href="{% url 'client' client.id %}">View details</a>
            </td>
          </tr>
          {% endfor %}
      </table>
      {% else %}
      <h4>Your forms</h4>
      <table class="table table-sm">
        <tr>
          <th>Form</th>
          <th>View data</th>
          <th>Fill the form</th>
        </tr>
        {% for form in auth_forms %}
          <tr>
            <td>{{form.title}}</td>
            <td>{{form.title}}</td>
            <td><a href='/fill/forms/{{form.slug}}'>Fill out the form</a></td>
          </tr>
        {% empty %}
        <div class="alert alert-info" role="alert"You have not assigned to any form yet!</div>
        {% endfor %}
      </table>
      {% endif %}
    </div>
  </div>
  </div>
</div>
{% endblock content %}
