{% extends 'food/main_template.html' %} {% load static %} {% block content %}
<br />

<div class="row">
  <div class="col-md-6 offset-3">
    <div class="card card-body">
      <a class="btn btn-primary btn-sm btn-block" href="">Create Form</a>
    <hr />

    <h4>List of users</h4>

      <table class="table table-sm">
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
        {% for client in clients %}
          <tr>
           <td>{{client.username}}</td>
						<td>{{client.email}}</td>
						<td><a class="btn btn-sm btn-info" href="#">Assign form</a></td>
          </tr>
          {% endfor %}
      </table>
    </div>
  </div>
  </div>
</div>
{% endblock content %}
